.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.header {
  display:none;
}
.Navbar {
  background-color: #344145;
  height: 3em;
}

.Nav__item-wrapper {
  list-style-type: none;
  text-align: center;
  line-height: 45px;
  float: left;
  margin-left: 180px;
}

.Nav__item {
  display: inline;
  border-radius: 3px;
}

.Nav__link {
  color: white;
  padding: 2em;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0px 1px 0px 1px;
}

body {
  margin: 0;
}

#my-contact {
  color: black;
}

button {
  text-align: center
}

.contact {
  /* background-color: grey; */
}

sktitle {
  text-align: center;
  font-weight: 1000;
  font-size: 80px;
}

.title_about {
  text-align: center;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

.Typist {
  font-weight: 800;
  color: white;
  font-size: 24px;
  position: fixed;
  /* or absolute */
  top: 43%;
  left: 16%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home {
  background-color: #28304;
  width: 100%;
  height: 100%;
}

.Explore {
  margin-bottom: 20%;
}

.container {
  /* justify-content: space-between; */
  flex-direction: column;
  height: 100vh;
  /* display: flex; */
}

.container .btn-holder {
  /* justify-content: flex-end; */
  display: absolute;
  margin-bottom: 20%;
}

#arrowAnim {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 5vw;
  height: 5vw;
  border: 2.5vw solid;
  border-color: #1ba6a3 transparent transparent #1ba6a3;
  transform: rotate(135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-9vw);
  }

  80% {
    opacity: 1;
    transform: translateX(9vw);
  }

  100% {
    opacity: 0;
    transform: translateX(15vw);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-9vw);
  }

  80% {
    opacity: 1;
    transform: translateX(9vw);
  }

  100% {
    opacity: 0;
    transform: translateX(15vw);
  }
}

.name {
  color: red;
}


.bars{
  width:50%;
  margin-left: 30%;
}


.progress-bar {
    margin-bottom: 1rem;
    background-color: lightgray;
  /* border-radius: 1.25em; */
    width: 300px;
    height: 20px;
    font-size: 12px;
  display:inline-flex;
  float: left;
  /* margin-left: 50px; */


}

.progress-value {
    background-color: #673ab7;
    transition: 0.3s all linear;
   /* border-radius: 1.25em; */
    height: 20px;
    display: inline-block;
    animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
width: 200px;

}
.progress-value.green {
    background-color: #4CAF50;
    animation: progress-3 3s ease-in-out forwards;
    -webkit-animation: progress-3 3s ease-in-out forwards;
}
.progress-value.yellow {
   background-color: #ff9800;
  animation: progress-2 3s ease-in-out forwards;
    -webkit-animation: progress-2 3s ease-in-out forwards;
}

.progress-value.blue {
   background-color: blue;
  animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}

.progress-value.lgreen {
   background-color: #30d18b;
  animation: progress-4 3s ease-in-out forwards;
    -webkit-animation: progress-4 3s ease-in-out forwards;
}


.progress-value.dgreen {
   background-color: #0d7346;
  animation: progress-4 3s ease-in-out forwards;
    -webkit-animation: progress-4 3s ease-in-out forwards;
}



.progress-value.dred {
   background-color: #b0104b;
  animation: progress-5 3s ease-in-out forwards;
    -webkit-animation: progress-5 3s ease-in-out forwards;
}

.progress-value.dblue {
   background-color: #1068b0;
  animation: progress-6 3s ease-in-out forwards;
    -webkit-animation: progress-6 3s ease-in-out forwards;
}



.progress-value.yb {
   background-color: #35bfde;
  animation: progress-2 3s ease-in-out forwards;
    -webkit-animation: progress-2 3s ease-in-out forwards;
}


.progress-value.red{
   background-color: #d6261a;
  animation: progress-6 3s ease-in-out forwards;
    -webkit-animation: progress-6 3s ease-in-out forwards;
}



.progress-value.lblack{
   background-color: #0c1530;
  animation: progress-6 3s ease-in-out forwards;
    -webkit-animation: progress-6 3s ease-in-out forwards;
}



.progress-value.orange{
   background-color: #b56922;
  animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}
/* animation */
 @keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
 @-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
 @keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
 @-webkit-keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
 @keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
 @-webkit-keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes progress-4 {
 from {
   width: 0;
 }
 to {
   width: 70%;
 }
}


@-webkit-keyframes progress-4{
 from {
   width: 0;
 }
 to {
   width: 70%;
 }
}


@keyframes progress-5 {
 from {
   width: 0;
 }
 to {
   width: 65%;
 }
}


@-webkit-keyframes progress-5{
 from {
   width: 0;
 }
 to {
   width: 65%;
 }
}


@keyframes progress-6{
 from {
   width: 0;
 }
 to {
   width: 80%;
 }
}


@-webkit-keyframes progress-6{
 from {
   width: 0;
 }
 to {
   width: 80%;
 }
}


.progress-value{
  width:75%
}

.progress-value yellow{
  width:75%;
}

.progress-value green{
  width:90%;
}

.progress-value blue{
  width:75%;
}

.progress-value lgreen{
  width:70%;
}

.progress-value dred{
  width:65%;
}



.progress-value dblue{
  width:80%;
}

.progress-value yb{
  width:85%;
}


.progress-value dred{
  width:80%;
}

.progress-value orange{
  width:75%;
}


.barname{
  color:grey;
  /* margin-left: 300px; */


}

.progress{
  width: 425px;
  text-align:left;
  height: 20px;
  font-size: 11px;
}


.dropdown-menu.pull-right {
    /* right: 0; */
    /* left: auto; */
}
/* .pull-left{float:left} */
/* .pull-right{float:right} */
/* .media-name{margin:10px 20px 10px 0;} */

ProgressBar{

  width:300px;
}


.skills{
  /* justify-content: space-between; */
  flex-direction: column;
  height: 100vh;

  display: flex;
}




.plate {
  width: 410px;
  margin: auto;
}

.script {
  font-family: "Seaweed Script";
  color: black;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
  font-weight:bold;
}
.script span {

  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}



.skillstxt{
  font-size: 12px;
}

img{
  width:250px;
  border-radius: 60%
}


@media screen and (max-width: 500px) {
  .Navbar  {
    float: none;
    display: block;
  }
}
