.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.header {
  display:none;
}
.Navbar {
  background-color: #344145;
  height: 3em;
   border-bottom: 3px solid #0fa392;
}
.active, .Nav__item:hover {

  color: blue;
}

.Nav_link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}

.Nav__item-wrapper {
  list-style-type: none;
  text-align: center;
  line-height: 45px;
  float: left;
  margin-left: 180px;
}

.Nav__item {
  display: inline;
  border-radius: 3px;
}

.Nav__link {
  color: white;
  padding: 2em;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0px 1px 0px 1px;
}

body {
  margin: 0;
}

#my-contact {
  color: black;
}

button {
  text-align: center;

}

.contact {
  /* background-color: grey; */
  text-align: center;
}

sktitle {
  text-align: center;
  font-weight: 1000;
  font-size: 80px;
}

.title_about {
  text-align: center;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

.Typist {
  font-weight: 800;
  color: white;
  font-size: 24px;
  position: fixed;
  /* or absolute */
  top: 43%;
  left: 16%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home {
  background-color: #28304;
  width: 100%;
  height: 100%;
}

.Explore {
  margin-bottom: 20%;
}

.container {
  /* justify-content: space-between; */
  flex-direction: column;
  height: 100vh;

  /* display: flex; */
}

.container .btn-holder {
  /* justify-content: flex-end; */
  display: absolute;
  margin-bottom: 20%;
}

#arrowAnim {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 5vw;
  height: 5vw;
  border: 2.5vw solid;
  border-color: #1ba6a3 transparent transparent #1ba6a3;
  transform: rotate(135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-9vw);
  }

  80% {
    opacity: 1;
    transform: translateX(9vw);
  }

  100% {
    opacity: 0;
    transform: translateX(15vw);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-9vw);
  }

  80% {
    opacity: 1;
    transform: translateX(9vw);
  }

  100% {
    opacity: 0;
    transform: translateX(15vw);
  }
}

.name {
  color: red;
}


.bars{
  width:50%;
  margin-left: 30%;
}


.progress-bar {
    margin-bottom: 1rem;
    background-color: lightgray;
  /* border-radius: 1.25em; */
    width: 300px;
    height: 20px;
    font-size: 12px;
  display:inline-flex;
  float: left;
  /* margin-left: 50px; */


}

.progress-value {
    background-color: #673ab7;
    transition: 0.3s all linear;
   /* border-radius: 1.25em; */
    height: 20px;
    display: inline-block;
    animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
width: 200px;

}
.progress-value.green {
    background-color: #4CAF50;
    animation: progress-3 3s ease-in-out forwards;
    -webkit-animation: progress-3 3s ease-in-out forwards;
}
.progress-value.yellow {
   background-color: #ff9800;
  animation: progress-2 3s ease-in-out forwards;
    -webkit-animation: progress-2 3s ease-in-out forwards;
}

.progress-value.blue {
   background-color: blue;
  animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}

.progress-value.lgreen {
   background-color: #30d18b;
  animation: progress-4 3s ease-in-out forwards;
    -webkit-animation: progress-4 3s ease-in-out forwards;
}


.progress-value.dgreen {
   background-color: #0d7346;
  animation: progress-4 3s ease-in-out forwards;
    -webkit-animation: progress-4 3s ease-in-out forwards;
}



.progress-value.dred {
   background-color: #b0104b;
  animation: progress-5 3s ease-in-out forwards;
    -webkit-animation: progress-5 3s ease-in-out forwards;
}

.progress-value.dblue {
   background-color: #1068b0;
  animation: progress-6 3s ease-in-out forwards;
    -webkit-animation: progress-6 3s ease-in-out forwards;
}



.progress-value.yb {
   background-color: #35bfde;
  animation: progress-2 3s ease-in-out forwards;
    -webkit-animation: progress-2 3s ease-in-out forwards;
}


.progress-value.red{
   background-color: #d6261a;
  animation: progress-6 3s ease-in-out forwards;
    -webkit-animation: progress-6 3s ease-in-out forwards;
}



.progress-value.lblack{
   background-color: #0c1530;
  animation: progress-6 3s ease-in-out forwards;
    -webkit-animation: progress-6 3s ease-in-out forwards;
}



.progress-value.orange{
   background-color: #b56922;
  animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}
/* animation */
 @keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
 @-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
 @keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
 @-webkit-keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
 @keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
 @-webkit-keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes progress-4 {
 from {
   width: 0;
 }
 to {
   width: 70%;
 }
}


@-webkit-keyframes progress-4{
 from {
   width: 0;
 }
 to {
   width: 70%;
 }
}


@keyframes progress-5 {
 from {
   width: 0;
 }
 to {
   width: 65%;
 }
}


@-webkit-keyframes progress-5{
 from {
   width: 0;
 }
 to {
   width: 65%;
 }
}


@keyframes progress-6{
 from {
   width: 0;
 }
 to {
   width: 80%;
 }
}


@-webkit-keyframes progress-6{
 from {
   width: 0;
 }
 to {
   width: 80%;
 }
}


.progress-value{
  width:75%
}

.progress-value yellow{
  width:75%;
}

.progress-value green{
  width:90%;
}

.progress-value blue{
  width:75%;
}

.progress-value lgreen{
  width:70%;
}

.progress-value dred{
  width:65%;
}



.progress-value dblue{
  width:80%;
}

.progress-value yb{
  width:85%;
}


.progress-value dred{
  width:80%;
}

.progress-value orange{
  width:75%;
}


.barname{
  color:grey;
  /* margin-left: 300px; */


}

.progress{
  width: 425px;
  text-align:left;
  height: 20px;
  font-size: 11px;
}


.dropdown-menu.pull-right {
    /* right: 0; */
    /* left: auto; */
}
/* .pull-left{float:left} */
/* .pull-right{float:right} */
/* .media-name{margin:10px 20px 10px 0;} */

ProgressBar{

  width:300px;
}


.skills{
  /* justify-content: space-between; */
  flex-direction: column;
  height: 100vh;

  display: flex;
}




.plate {
  width: 410px;
  margin: auto;
}

.script {
  font-family: "Seaweed Script";
  color: black;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
  font-weight:bold;
}
.script span {

  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}



.skillstxt{
  font-size: 12px;
}

img{
  width:250px;
  border-radius: 60%
}


@media screen and (max-width: 700px) {
  .Navbar a {
    float: none;
    display: block;
  }
}










/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/* @font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
} */

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;

}

/*---------------------------------------------*/
a {

	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {

	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #999999;}
input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

textarea::-webkit-input-placeholder {color: #999999;}
textarea:-moz-placeholder {color: #999999;}
textarea::-moz-placeholder {color: #999999;}
textarea:-ms-input-placeholder {color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact100-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

/*==================================================================
[ Title form ]*/
.contact100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 64px 15px 64px 15px;
}

.contact100-form-title-1 {

  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
}

.contact100-form-title-2 {

  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}


.contact100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 57px 190px;
  text-align: center;

}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 60%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 26px;
  margin-right: auto;
      margin-left: auto;
}

.label-input100 {

  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  text-align: right;

  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;

}

/*---------------------------------------------*/
.input100 {

  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;

  background: #57b846;
}


/*---------------------------------------------*/
input.input100 {
  height: 45px;
}


textarea.input100 {
  min-height: 115px;
  padding-top: 14px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;

}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #0fa392;
  border-radius: 25px;
  margin-right: auto;
      margin-left: auto;
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #333333;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .contact100-form {
    padding: 43px 15px 57px 117px;
  }
}

@media (max-width: 480px) {
  .contact100-form {
    padding: 43px 15px 57px 15px;
  }

  .label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;


  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
